<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Clarity" value="https://pkgs.dev.azure.com/clarity-ventures/_packaging/Clarity/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Clarity>
      <add key="Username" value="Clarity" />
      <add key="ClearTextPassword" value="er7d2duc6rkrz2gzfe37hwxphnlvduvy643fxzvlhna37fwc65ra" />
    </Clarity>
  </packageSourceCredentials>
</configuration>
